<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Pixabay Searcher</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
      </ul>
      <form class="d-flex gap-2" role="search">
        <select class="form-select" aria-label="select">
          <option selected>Pick a Category</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <input
          class="form-control me-2"
          type="text"
          placeholder="Search"
          aria-label="Search"
          (keyup.enter)="onSearch(searchTerm, '')" />
        <button
          class="btn btn-outline-success"
          type="text"
          (click)="onSearch(searchTerm, '')">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
