<section class="overlay" *ngIf="image$ | async | getLastItem as imageInfo">
  <div
    class="row g-0 border w-70 m-2 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-absolute">
    <ng-container>
      <div class="col d-flex flex-column card-description">
        <span class="d-inline-block mb-2 text-primary"></span>
        <h3 class="mb-0">{{ imageInfo.id }}</h3>
        <h5 class="mb-0">{{ imageInfo.views }}</h5>
        <h5 class="mb-0">{{ imageInfo.likes }}</h5>
        <h6 class="mb-0">{{ imageInfo.tags }}</h6>
      </div>
      <div class="image col-lg-9 col-sm-12 d-lg-block">
        <img src="{{ imageInfo.webformatURL }}" />
      </div>
      <button class="btn btn-danger" (click)="onClosePreview()">Close</button>
    </ng-container>
  </div>
</section>
