<section class="overlay" *ngIf="image$ | async | getLastItem as imageInfo">
  <div class="card mx-2">
    <img
      class="image"
      src="{{ imageInfo.webformatURL }}"
      alt="{{ imageInfo.id }}" />

    <div class="card-body row">
      <strong class="col-6 item">ID:</strong>
      <span class="col-6 value">{{ imageInfo.id }}</span>
      <strong class="col-6 item">LIKES:</strong>
      <span class="col-6 value">{{ imageInfo.likes }}</span>
      <strong class="col-6 item">VIEWS:</strong>
      <span class="col-6 value">{{ imageInfo.views }}</span>
      <strong class="col-6 item">TAGS:</strong>
      <span class="col-6 value">{{ imageInfo.tags }}</span>
      <strong class="col-6 item">USER:</strong>
      <span class="col-6 value">{{ imageInfo.user }}</span>
      <strong class="col-6 item">Pixabay URL:</strong>
      <a href="{{ imageInfo.pageURL }}" target="_blank" class="col-6 value"
        >See Original</a
      >
    </div>
    <button class="btn btn-danger" (click)="onClosePreview()">Close</button>
  </div>
</section>
