<div class="card" (click)="onPreview(image)">
  <div
    class="image"
    (mouseenter)="onVisibility()"
    (mouseleave)="onVisibility()">
    <img
      src="{{ image.webformatURL }}"
      class="card-img-top"
      alt="{{ image.id }}" />
  </div>
</div>
<div class="col card-description" [ngClass]="{ hide: visibility }">
  <span class="me-1">
    <i class="fas fa-eye me-1"></i>
    {{ image.views }}
  </span>
  <span class="me-1">
    <i class="fas fa-heart me-1"></i>
    {{ image.likes }}
  </span>
  <span class="me-1">
    <i class="fas fa-solid fa-tag me-1"></i>
    {{ image.tags }}
  </span>
</div>
